body {
  background-color: #f7f7ff;
  margin: 0em;
}

#profile {
  display: flex;
  flex-wrap: wrap;
  background-color: #495867;
  margin-left: 10px;
  margin-right: 20px;
  border-radius: 1em;
  height: auto;
  box-shadow: 10px 10px rgb(33, 33, 33);
  margin-bottom: 20px;
}

#intro {
  width: 55%;
}

#intro p {
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 20px;
  margin-left: 10px;
  color: #f7f7ff;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: lighter;
}

footer {
  font-family: "Roboto", sans-serif;
  padding-top: 30px;
}

header h1 {
  text-align: left;
  width: 500px;
  color: black;
  font-family: "Roboto Mono", monospace;
  margin-left: 40px;
  font-weight: 300;
  font-size: 38px;
  font-weight: bold;
}

header {
  margin-top: 40px;
}

header h2 {
  margin-top: 50px;
  text-align: left;
  width: 70%;
  color: black;
  font-family: "Roboto Mono", monospace;
  margin-left: 25%;
  font-weight: 300;
  font-size: 22px;
  padding-bottom: 50px;
}

#intro h1 {
  font-family: "Roboto Mono", monospace;
  color: #8eec3c;
  font-weight: bolder;
  font-size: 40px;
  width: 50%;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 20px;
  margin-left: 10px;
}

.highlight {
  font-family: "Roboto Mono", monospace;
  background-color: #8eec3c;
}

#profile_pic {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  border-right: solid #f7f7ff 15px;
  height: 620px;
  border-bottom: solid #f7f7ff 15px;
}

.logo-size {
  width: 35px;
}

#intro p a:link {
  color: #8eec3c;
  background-color: transparent;
  text-decoration: none;
}

#intro p a:visited {
  color: #8eec3c;
  background-color: transparent;
  text-decoration: none;
}

#intro p a:hover {
  font-weight: bolder;
  text-decoration: wavy;
}

#show-case {
  background-color: rgb(33, 33, 33);
  margin-left: 10px;
  margin-right: 20px;
  border-radius: 1em;
  height: auto;
  box-shadow: 10px 10px #495867;
  width: 60%;
  align-content: space-around;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}

.att-size {
  width: 400px;
}

.small-img {
  width: 200px;
  border-radius: 1em;
}

#show-case div {
  width: 180px;
  height: auto;
  display: flex;
  justify-content: center;
  border-radius: 1em;
  background-color: #3c53ec;
  margin: 15px;
}

#work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#skills {
  width: 35%;
  height: auto;
  background-color: rgb(33, 33, 33);
  margin-left: 10px;
  margin-right: 20px;
  border-radius: 1em;
  box-shadow: 10px 10px #495867;
  color: #8eec3c;
  font-family: "Roboto Mono", monospace;
  font-weight: lighter;
}

#skills h1 {
  font-size: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#skills li {
  padding-top: 20px;
  font-size: 20px;
}

#intro div img {
  display: block;
}

#intro div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#intro div p {
  color: black;
  font-weight: bolder;
  width: 40px;
  font-size: 35px;
}

footer {
  text-align: right;
  margin-top: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
  color: #3c53ec;
}

.medium-buttons a:link {
  text-decoration: none;
  font-size: 35px;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  color: black;
  padding: 5px;
}

.medium-buttons a:visited {
  text-decoration: none;
  font-size: 35px;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  color: black;
  padding: 5px;
}

.medium-buttons a:hover,
.flexy-row a:hover,
#designs a:hover {
  background-color: #8eec3c;
  border-radius: 0.2em;
  opacity: 0.5;
}

.ux-show {
  display: flex;
  justify-content: center;
}

#designs {
  display: flex;
  flex-direction: column;
  background-color: #495867;
  margin-left: 10px;
  margin-right: 20px;
  border-radius: 1em;
  height: auto;
  box-shadow: 10px 10px rgb(33, 33, 33);
  margin-bottom: 20px;
  align-items: center;
}

#designs p {
  font-size: 18px;
  margin: 60px;
  margin-left: 200px;
  margin-right: 200px;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  color: #8eec3c;
}

iframe {
  border-radius: 1em;
}

#blue-em {
  text-decoration: none;
  font-weight: bold;
  color: #3399ff;
}

#orange-em {
  text-decoration: none;
  font-weight: bold;
  color: #ff9933;
}

li {
  font-size: 18px;
}

#design-header h1,
#design-header p,
#design-header div {
  display: inline-block;
}

#design-header p {
  font-size: 30px;
  font-family: "Roboto Mono", monospace;
  color: black;
}
.flexy-row a:visited,
.flexy-row a:link {
  font-size: 30px;
  font-family: "Roboto Mono", monospace;
  color: black;
  padding-top: 60px;
  padding-left: 10px;
  padding-bottom: 20px;
}

#design-header div img {
  clip-path: circle(50% at 50% 50%);
  width: 100px;
  height: 100px;
}

#design-header div {
  text-align: right;
  align-self: flex-end;
}

.flexy-row {
  display: flex;
}

#design-header h1 {
  align-self: flex-start;
  padding-right: 600px;
}

#design-header {
  height: 120px;
}

.large-image {
  width: 90%;
  border-radius: 1em;
}

.top-logo img {
  width: 100px;
}

.top-logo {
  display: flex;
  justify-content: center;
}

#designs img {
  margin: 20px;
}

.get-space {
  padding: 30px;
}

.slash {
  color: #f7f7ff;
  font-size: 28px;
}

header h2 a:link {
  color: black;
}

header h2 a:visited {
  color: black;
}

header h2 a:hover {
  background-color: #8eec3c;
  border-radius: 0.2em;
  opacity: 0.5;
}

#linkedin {
  padding-top: 130px;
  padding-right: 30px;
  border-radius: 1em;
  color: #f7f7ff;
}

#linkedin div {
  background-color: rgb(33, 33, 33);
  border-radius: 1em;
  color: #f7f7ff;
}

#linkedin a:link {
  color: #f7f7ff;
}

#linkedin a:visited {
  color: #f7f7ff;
}

#linkedin a:hover {
  opacity: 0.5;
  color: white;
}

.hidden {
  display: none;
}
