html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #f7f7ff;
  margin: 0em;
}

footer {
  font-family: "Roboto", sans-serif;
  padding-top: 30px;
}

header h1 {
  text-align: left;
  width: 500px;
  color: rgb(255, 255, 255);
  font-family: "PT Serif", serif;
  margin-left: 40px;
  font-weight: 300;
  font-size: 38px;
  font-weight: bold;
}

.highlight {
  font-family: "Mukta", sans-serif;
  background-color: #8eec3c;
  color: #495867;
}

.logo-size {
  width: 35px;
}

#intro p a:link {
  color: #8eec3c;
  background-color: transparent;
  text-decoration: none;
}

#intro p a:visited {
  color: #8eec3c;
  background-color: transparent;
  text-decoration: none;
}

#intro p a:hover {
  font-weight: bolder;
  text-decoration: wavy;
}

#show-case {
  background-color: rgb(33, 33, 33);
  margin-left: 10px;
  margin-right: 20px;
  border-radius: 0.4em;
  height: auto;
  box-shadow: 4px 10px 4px rgba(0, 0, 0, 0.25);
  width: 60%;
  align-content: space-around;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}

#show-case div img {
  width: 100%;
}

.att-size {
  width: 400px;
}

.small-img {
  width: 200px;
  border-radius: 0.4em;
}

#show-case div {
  width: 180px;
  height: auto;
  display: flex;
  justify-content: center;
  border-radius: 0.4em;
  background-color: #495867;
  margin: 15px;
}

#work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#skills h1 {
  font-size: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#skills li {
  font-size: 20px;
}

#intro div img {
  display: block;
}

#intro div p {
  color: black;
  font-weight: bolder;
  width: 40px;
  font-size: 35px;
}

footer {
  text-align: right;
  margin-top: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
  color: #3c53ec;
}

#designs {
  display: flex;
  flex-direction: column;
  background-color: #495867;
  margin-left: 10px;
  margin-right: 20px;
  border-radius: 0.4em;
  height: auto;
  box-shadow: 4px 10px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  align-items: center;
}

iframe {
  border-radius: 0.4em;
}

#blue-em {
  text-decoration: none;
  font-weight: bold;
  color: #3399ff;
}

#orange-em {
  text-decoration: none;
  font-weight: bold;
  color: #ff9933;
}

li {
  font-size: 18px;
}

#design-header h1,
#design-header p,
#design-header div {
  display: inline-block;
}

#design-header p {
  font-size: 30px;
  font-family: "Roboto Mono", monospace;
  color: black;
}
.flexy-row a:visited,
.flexy-row a:link {
  font-size: 30px;
  font-family: "Roboto Mono", monospace;
  color: black;
  padding-top: 60px;
  padding-left: 10px;
  padding-bottom: 20px;
}

#design-header div img {
  clip-path: circle(50% at 50% 50%);
  width: 100px;
  height: 100px;
}

#design-header div {
  text-align: right;
  align-self: flex-end;
}

.flexy-row {
  display: flex;
}

#design-header h1 {
  align-self: flex-start;
  padding-right: 600px;
  text-align: left;
  color: black;
  font-family: "Roboto Mono", monospace;
  margin-left: 40px;
  font-size: 24px;
}

#design-header {
  height: 60px;
}

.large-image {
  width: 90%;
  border-radius: 0.4em;
}

.top-logo img {
  width: 100px;
}

.top-logo {
  display: flex;
  justify-content: center;
}

#designs img {
  margin: 20px;
}

.get-space {
  padding: 30px;
}

.slash {
  color: #f7f7ff;
}

header h2 a:link {
  color: black;
}

header h2 a:visited {
  color: black;
}

header h2 a:hover {
  background-color: #8eec3c;
  border-radius: 0.2em;
  opacity: 0.5;
}

#linkedin a:link {
  color: #f7f7ff;
}

#linkedin a:visited {
  color: #f7f7ff;
}

#linkedin a:hover {
  opacity: 0.5;
  color: white;
}

.hidden {
  display: none !important;
}

.bigger {
  width: 100% !important;
}

.bigger img {
  width: 100%;
}

#show-message {
  display: flex;
}

#show-message p {
  padding: 10px;
  color: #f7f7ff;
  font-family: "Roboto Mono", monospace;
  font-weight: bolder;
}

@media (min-width: 700px) {
  design-header h1 {
    text-align: left;
    color: black;
    font-family: "Roboto Mono", monospace;
    margin-left: 40px;
    font-size: 24px;
  }

  .showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .showcase div {
    width: 80%;
    height: 200px;
    margin-top: 10px;
    border-radius: 0.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.25);
    background-color: #495867;
  }

  .showcase div a:link {
    font-family: "Mukta", sans-serif;
    font-size: 24px;
    position: relative;
    bottom: 10px;
    color: #f7f7ff;
    text-decoration: none;
  }
  .showcase div a:visited {
    font-family: "Mukta", sans-serif;
    font-size: 24px;
    position: relative;
    bottom: 10px;
    color: #f7f7ff;
    text-decoration: none;
  }

  .showcase p {
    font-family: "Mukta", sans-serif;
    font-size: 24px;
    position: relative;
    bottom: 10px;
    color: black;
  }

  #fb {
    background-color: #4267b2;
    margin-top: 20px;
  }

  #lkdn {
    background-color: #2867b2;
  }

  #gm {
    background: linear-gradient(
        to right,
        #4285f4 0%,
        #4285f4 50%,
        #0f9d58 50%,
        #0f9d58 100%
      ),
      linear-gradient(
        to right,
        #db4437 0%,
        #db4437 50%,
        #f4b400 50%,
        #f4b400 100%
      );
    background-size: 100% 50%;
    background-position: center top, center bottom;
    background-repeat: no-repeat;
    margin-bottom: 20px;
  }

  #ig {
    background-color: #495867;
  }

  #content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #menu_links {
    background-color: #000000e8;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  #menu_links li {
    color: #f7f7ff;
    font-family: "Mukta", sans-serif;
    font-size: 24px;
    margin: 40px;
    list-style: none;
  }

  #menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    position: fixed;
    z-index: 1;
    background-color: #000000e8;
    height: 40px;
    border-radius: 0.4em;
    width: 98%;
    margin-top: 3px;
  }

  #menu p {
    width: auto;
    color: #f7f7ff;
    font-family: "Mukta", sans-serif;
    font-size: 18px;
  }

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  h3 {
    font-family: "Mukta", sans-serif;
    font-size: 24px;
    width: 80%;
    margin-left: 30px;
    margin-top: 100px;
    margin-bottom: 80px;
  }

  #portfolio-intro {
    margin-top: 40px;
    background-color: #495867;
    width: 80%;
    border-radius: 0.4em;
    box-shadow: 4px 10px 4px rgb(0 0 0 / 25%);
    margin-bottom: 15px;
    margin-left: 5px;
  }

  header h2 {
    text-align: left;
    color: #f7f7ff;
    padding-bottom: 50px;
    margin-left: 45px;
    margin-right: 5px;
  }

  .medium-buttons a:link {
    text-decoration: none;
    font-size: 35px;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    color: black;
    padding: 5px;
  }

  .medium-buttons a:visited {
    text-decoration: none;
    font-size: 35px;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    color: black;
    padding: 5px;
  }

  .medium-buttons a:hover,
  .flexy-row a:hover,
  #designs a:hover {
    background-color: #8eec3c;
    border-radius: 0.2em;
    opacity: 0.5;
  }

  .medium-buttons {
    padding-bottom: 30px;
    display: flex;
  }

  #mrw {
    color: #f7f7ff;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    background-color: transparent;
    text-decoration: none;
    border: #8eec3c solid 2px;
    padding: 9px;
    border-radius: 0.4em;
    box-shadow: 4px 5px 3px rgb(0 0 0 / 25%);
    position: relative;
    left: 25%;
    margin-top: 100px;
  }

  .ux-show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding-bottom: 30px;
  }

  iframe {
    height: 300px;
  }

  #designs p {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    color: #8eec3c;
    width: 80%;
  }

  #rdji-botton p {
    width: 30px;
    font-size: 12px;
    position: fixed;
    left: 85.1%;
    top: 8.5%;
    font-family: "Roboto Mono", monospace;
    margin: 0px;
  }

  #designs {
    display: flex;
    width: 80%;
    flex-direction: column;
    background-color: #495867;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 0.4em;
    height: auto;
    box-shadow: 4px 10px 4px rgb(0 0 0 / 25%);
    margin-bottom: 20px;
    align-items: center;
  }

  #rdji-botton {
    border: black solid 2px;
    position: fixed;
    width: 50px;
    height: 50px;
    left: 84%;
    top: 4%;
    border-radius: 5em;
    background-color: #8eec3c;
    box-shadow: 4px 5px 3px rgb(0 0 0 / 25%);
  }

  a:visited {
    color: black;
  }

  a:link {
    color: black;
  }

  #rdji-home {
    width: 45px;
    position: fixed;
    left: 84.65%;
    top: 4%;
  }

  em {
    font-weight: bold;
    font-style: normal;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f7f7ff;
    margin: 0em;
    max-width: 100%;
    overflow-x: hidden;
  }

  .top-logo {
    margin-top: 80px;
  }

  .top-logo img {
    width: 100px;
  }

  div {
    width: 100%;
  }

  #portfolio-intro h1 {
    text-align: left;
    color: #8eec3c;
    font-family: "Roboto Mono", monospace;
    margin-left: 40px;
    font-size: 28px;
  }

  #profile {
    display: flex;
    flex-wrap: wrap;
    background-color: #495867;
    border-radius: 0.4em;
    width: 80%;
    height: auto;
    box-shadow: 4px 10px 4px rgb(0 0 0 / 25%);
    margin-bottom: 20px;
  }

  #profile_pic {
    display: none;
  }

  #image-holder {
    margin-left: 35%;
  }

  #profile_pic_bot {
    width: 300px;
    height: 340px;
    object-fit: cover;
    object-position: top;
    border-radius: 0.4em;
    margin-bottom: 30px;
  }

  #intro h1 {
    font-family: "Roboto Mono", monospace;
    color: #8eec3c;
    padding-left: 40px;
    margin-left: 10px;
  }

  #intro p {
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 20px;
    color: #f7f7ff;
    font-family: "Mukta", sans-serif;
    font-size: 20px;
  }

  #intro div {
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 50px;
  }

  #intro div a {
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 4px 10px 4px rgb(0 0 0 / 25%);
    border-radius: 0.4em;
    padding: 10px;
    border: #8eec3c solid 2px;
  }

  #exit-icon {
    background-color: #f7f7ff;
    border-radius: 10rem;
    width: 20px;
    padding: 10px;
    position: relative;
    left: 90%;
    bottom: 15%;
  }

  /* About page */
  .medium-size {
    width: 600px;
    border-radius: 0.4em;
  }

  .about-ctn h1 {
    font-size: 30px;
    font-family: "Roboto Mono", monospace;
    margin-top: 40px;
    align-self: baseline;
    margin-left: 40px;
  }

  #am-img-ctn {
    display: flex;
    height: 600px;
    background-color: #f7f7ff;
    box-shadow: 0px 0px 0px rgb(0 0 0 / 25%);
    width: 100%;
    margin-left: 25%;
  }

  .about-ctn a:link,
  .about-ctn a:visited {
    font-family: "Mukta", sans-serif;
    color: black;
    font-size: 24px;
    margin-bottom: 20px;
    padding-top: 20px;
  }

  .full-story-ctn div {
    background-color: #495867;
    width: 30%;
    height: fit-content;
    margin-top: 40px;
    margin-bottom: 10px;
    box-shadow: 4px 10px 4px rgb(0 0 0 / 25%);
    margin: 10px;
    border-radius: 0.4em;
  }

  .dialogue-size {
    width: 20%;
    height: 45%;
    position: relative;
    right: 105px;
    z-index: 0;
  }
  .about-ctn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .full-story-ctn {
    background-color: #202020;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    border-radius: 0.4em;
    box-shadow: 4px 10px 4px rgb(0 0 0 / 25%);
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .full-story-ctn h1 {
    font-family: "Roboto Mono", monospace;
    font-size: 24px;
    position: static;
    color: #8eec3c;
    text-align: center;
    margin-left: 0px;
    margin-top: 30px;
  }
  .about-ctn p {
    font-family: "Mukta", sans-serif;
    font-size: 18px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    color: #f7f7ff;
    padding-bottom: 40px;
    padding-top: 30px;
  }

  #contact h1 {
    font-size: 30px;
    font-family: "Roboto Mono", monospace;
    margin-top: 40px;
    align-self: baseline;
    margin-left: 40px;
  }
}

header h2 {
  font-size: 18px;
  font-family: "Mukta", sans-serif;
  width: auto;
}

#work div {
  width: 100%;
}
#work div img {
  width: 40%;
}

#skills ul li {
  font-size: 15px;
}

#skills ul h1 {
  font-size: 20px;
}

#skills {
  margin-top: 10px;
}

@media (min-width: 360px) and (max-width: 500px) {
  #content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #menu_links {
    background-color: #000000e8;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  #menu_links li {
    color: #f7f7ff;
    font-family: "Mukta", sans-serif;
    font-size: 24px;
    margin: 40px;
    list-style: none;
  }

  #menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    position: fixed;
    z-index: 1;
    background-color: #000000e8;
    height: 40px;
    border-radius: 0.4em;
    width: 98%;
    margin-top: 3px;
  }

  #menu p {
    width: auto;
    color: #f7f7ff;
    font-family: "Mukta", sans-serif;
    font-size: 18px;
  }

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  h3 {
    font-family: "Mukta", sans-serif;
    font-size: 24px;
    width: 80%;
    margin-left: 30px;
    margin-top: 150px;
    margin-bottom: 80px;
  }

  #portfolio-intro {
    margin-top: 40px;
    background-color: #495867;
    width: 95%;
    border-radius: 0.4em;
    box-shadow: 4px 10px 4px rgb(0 0 0 / 25%);
    margin-bottom: 15px;
    margin-left: 5px;
  }

  #design-header {
    margin-top: 40px;
  }

  header h2 {
    text-align: left;
    color: #f7f7ff;
    font-family: "Mukta", sans-serif;
    font-size: 18px;
    padding-bottom: 50px;
    margin-left: 15px;
  }

  .medium-buttons a:link {
    text-decoration: none;
    font-size: 35px;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    color: black;
    padding: 5px;
  }

  .medium-buttons a:visited {
    text-decoration: none;
    font-size: 35px;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    color: black;
    padding: 5px;
  }

  .medium-buttons a:hover,
  .flexy-row a:hover,
  #designs a:hover {
    background-color: #8eec3c;
    border-radius: 0.2em;
    opacity: 0.5;
  }

  .medium-buttons {
    padding-bottom: 30px;
  }

  #mrw {
    color: #f7f7ff;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    background-color: transparent;
    text-decoration: none;
    border: #8eec3c solid 2px;
    padding: 9px;
    border-radius: 0.4em;
    box-shadow: 4px 5px 3px rgb(0 0 0 / 25%);
    position: relative;
    left: 25%;
    margin-top: 100px;
  }

  .ux-show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding-bottom: 30px;
  }

  iframe {
    height: 300px;
  }

  #designs p {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    color: #8eec3c;
    width: 80%;
  }

  #rdji-botton p {
    width: 30px;
    font-size: 12px;
    position: fixed;
    left: 87.4%;
    top: 55px;
    font-family: "Roboto Mono", monospace;
    margin: 0px;
  }

  #designs {
    display: flex;
    width: 95%;
    flex-direction: column;
    background-color: #495867;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 0.4em;
    height: auto;
    box-shadow: 4px 10px 4px rgb(0 0 0 / 25%);
    margin-bottom: 20px;
    align-items: center;
  }

  #rdji-botton {
    border: black solid 2px;
    position: fixed;
    width: 50px;
    height: 50px;
    left: 84%;
    top: 4%;
    border-radius: 5em;
    background-color: #8eec3c;
    box-shadow: 4px 5px 3px rgb(0 0 0 / 25%);
    z-index: 1;
  }

  a:visited {
    color: black;
  }

  a:link {
    color: black;
  }

  #rdji-home {
    width: 45px;
    position: fixed;
    left: 85.4%;
    top: 4%;
  }

  em {
    font-weight: bold;
    font-style: normal;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f7f7ff;
    margin: 0em;
    max-width: 100%;
    overflow-x: hidden;
  }

  .top-logo {
    margin-top: 80px;
  }

  .top-logo img {
    width: 100px;
  }

  div {
    width: 100%;
  }

  #portfolio-intro h1 {
    text-align: left;
    color: #8eec3c;
    font-family: "Roboto Mono", monospace;
    margin-left: 40px;
    font-size: 24px;
  }

  #design-header h1 {
    text-align: left;
    color: black;
    font-family: "Roboto Mono", monospace;
    margin-left: 40px;
    font-size: 24px;
  }

  #profile {
    display: flex;
    flex-wrap: wrap;
    background-color: #495867;
    border-radius: 0.4em;
    width: 95%;
    height: auto;
    box-shadow: 4px 10px 4px rgb(0 0 0 / 25%);
    margin-bottom: 20px;
  }

  #profile_pic {
    width: 100%;
    height: 340px;
    object-fit: cover;
    object-position: top;
    border-radius: 0.4em;
  }

  #image-holder {
    width: 100%;
  }

  #profile_pic_bot {
    width: 100%;
    height: 340px;
    object-fit: cover;
    object-position: bottom;
    border-radius: 0.4em;
  }

  #intro h1 {
    font-family: "Roboto Mono", monospace;
    color: #8eec3c;
    padding-left: 40px;
    margin-left: 10px;
  }

  #intro p {
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 20px;
    color: #f7f7ff;
    font-family: "Mukta", sans-serif;
  }

  #intro div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  #intro div a {
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 4px 10px 4px rgb(0 0 0 / 25%);
    border-radius: 0.4em;
    padding: 10px;
    border: #8eec3c solid 2px;
  }

  #exit-icon {
    background-color: #f7f7ff;
    border-radius: 10rem;
    width: 20px;
    padding: 10px;
    position: relative;
    left: 85%;
    bottom: 17%;
  }

  .showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .showcase div {
    width: 80%;
    height: 200px;
    margin-top: 10px;
    border-radius: 0.4em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.25);
    background-color: #495867;
  }

  .showcase div a:link {
    font-family: "Mukta", sans-serif;
    font-size: 24px;
    position: relative;
    bottom: 10px;
    color: #f7f7ff;
    text-decoration: none;
  }
  .showcase div a:visited {
    font-family: "Mukta", sans-serif;
    font-size: 24px;
    position: relative;
    bottom: 10px;
    color: #f7f7ff;
    text-decoration: none;
  }

  .showcase p {
    font-family: "Mukta", sans-serif;
    font-size: 24px;
    position: relative;
    bottom: 10px;
    color: black;
  }

  #fb {
    background-color: #4267b2;
    margin-top: 20px;
  }

  #lkdn {
    background-color: #2867b2;
  }

  .dialogue-size {
    width: 55%;
    height: 55%;
    position: relative;
    right: 105px;
    z-index: 0;
  }

  #gm {
    background: linear-gradient(
        to right,
        #4285f4 0%,
        #4285f4 50%,
        #0f9d58 50%,
        #0f9d58 100%
      ),
      linear-gradient(
        to right,
        #db4437 0%,
        #db4437 50%,
        #f4b400 50%,
        #f4b400 100%
      );
    background-size: 100% 50%;
    background-position: center top, center bottom;
    background-repeat: no-repeat;
    margin-bottom: 20px;
  }

  #ig {
    background-color: #495867;
  }

  .about-ctn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .about-ctn p {
    font-family: "Mukta", sans-serif;
    font-size: 18px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    color: #f7f7ff;
    padding-bottom: 40px;
    padding-top: 30px;
  }

  .about-ctn h1,
  #contact h1 {
    color: black;
    font-family: "Roboto Mono", monospace;
    font-size: 24px;
    align-self: baseline;
    margin-left: 30px;
    margin-top: 64px;
  }

  #dialogue-box {
    position: relative;
    left: 20%;
    z-index: 1;
    top: 100px;
  }

  .full-story-ctn h1 {
    font-family: "Roboto Mono", monospace;
    font-size: 24px;
    position: static;
    color: #8eec3c;
    text-align: center;
    margin-left: 0px;
    margin-top: 30px;
  }

  .about-ctn a:link,
  .about-ctn a:visited {
    font-family: "Mukta", sans-serif;
    color: black;
    font-size: 24px;
    margin-bottom: 20px;
    padding-top: 20px;
  }

  #am-img-ctn {
    display: flex;
    height: 300px;
    background-color: #f7f7ff;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    margin: 0px;
  }

  .medium-size {
    width: 300px;
    border-radius: 0.4em;
  }

  .quote {
    font-size: 24px;
    font-style: italic;
  }
  .full-story-ctn {
    background-color: #f7f7ff;
    display: flex;
    flex-direction: column;
  }

  .full-story-ctn div {
    background-color: #495867;
    width: 95%;
    margin-top: 40px;
    margin-bottom: 10px;
    box-shadow: 4px 10px 4px rgb(0 0 0 / 25%);
    margin: 10px;
    border-radius: 0.4em;
  }
}

.hidden {
  display: none;
}

.scrolled {
  width: 100%;
  height: 0;
  left: 0;
  top: 0;
  overflow-x: hidden;
  transition: all 0.5 ease 0s;
}

.unscrolled {
  height: 100%;
  transition: all 0.5 ease 0s;
}

li a:visited {
  color: #f7f7ff;
  text-decoration: none;
}

li a:link {
  color: #f7f7ff;
  text-decoration: none;
}
